
<div class="footer">
  <div class="footer-inner">
    &copy; 2016 <a href="https://github.com/sorrycc" target="_blank">Chen Cheng</a><br />
    Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.
  </div>
</div>
