
<div class="header">
  <div class="header-inner">
    <div class="logo">Dvajs</div>
    <div class="nav">
      <ul>
        <li><a href="/docs" <%- page.path.match(/docs/) ? 'class="active"' : '' %>>Docs</a></li>
        <li><a href="/api" <%- page.path.match(/api/) ? 'class="active"' : '' %>>API</a></li>
        <li><a href="/tutorial" <%- page.path.match(/tutorial/) ? 'class="active"' : '' %>>Tutorial</a></li>
      </ul>
    </div>
    <div class="search">
      <!--<input type="text" placeholder="Search docs..." />-->
    </div>
    <div class="external">
      <a href="https://github.com/dvajs/dva">GitHub</a>
    </div>
  </div>
</div>
