
<div class="sidebar">
  <div class="list">
    <ul class="menu-root">
      <% type !== 'api' && site.pages.find({type: type, lang:page.lang}).sort('order').each(function (p) { %>
        <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
        <% if (fileName === 'index') { %>
        <li><h3>Basic</h3></li>
        <% } %>
        <% if (fileName === 'knowledge-map') { %>
        <li><h3>Advanced</h3></li>
        <% } %>
        <li>
          <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
