<div class="page">
  <div class="wrap">
    <div class="content">
      <div class="markdown-body">
        <%- page.content %>
      </div>
    </div>
    <%- partial('partials/sidebar', { type: page.type }) %>
  </div>
</div>
